.Countries {
    display: flex;
    flex-wrap: wrap;
    width: 58%;
    border-radius: 10%;
    padding: 10px;
    /* margin-left: 6%;
    margin-right: 6%; */
}
.content{
    display: flex; 
    flex-wrap: wrap;
}
.content::before {
    content: "";
    /* background-image: url(../../asses/wroldmap.jpg); */
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* filter: blur(10px); */
    position: fixed;
    z-index: -1;
  }

.page{
    align-items: center;
    width: 100%;
}

 
