.Nav {
	grid-area: "NavBar";
	background-color: red;
}

.boxesWrapper {
	grid-area: "boxesWrapper";
	background-color: blueviolet;
}
.left {
	grid-area: "left";
	background-color: rgb(17, 16, 16);
}

.right {
	grid-area: "right";
	background-color: green;
}

.Landing {
	height: auto;
	display: grid;
	gap: 20;
	grid-template-areas:
		"NavBar"
		"boxesWrapper";
	grid-template-rows: 70px auto;
}

.boxesWrapper {
	display: grid;
	height: 100%;
	/* align-items: center; */
	justify-content: space-around;
	grid-template:
		"left"
		"right";
	grid-template-columns: 40% 60%;
}
